*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // it defines what 1rem is actually
  font-size: 62.5%; // 1rem = 10px

  @include respond(phone) {
    font-size: 100% !important;
  }

  @include respond(tab-port) {
    font-size: 75%;
  }

  @include respond(tab-land) {
    font-size: 85%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}
