.section-about {
  background-color: $color-grey-light-1;
  padding: 18rem 5rem;
  margin-top: -25vh;
}

.section-features {
  padding: 12.5rem 5rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("../img/nat-4.jpg");
  background-size: cover;
  margin-top: -8rem;
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 18rem 0 10rem 0;
  margin-top: -10rem;
}

.section-stories {
  position: relative;
  padding: 10rem 0;
}

.section-book {
  padding: 10rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-light
  );
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

  &__form {
    width: 50%;
    padding: 3.75rem;
  }
}
